<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Enjoy Cafe</title>
</head>


<body>
  <header>
    <div class="navBar">
      <h3 class="navBarTitle">ENJOY CAFE</h3>
      <div class="navBarButton">
        <a href="index.html">Home</a>
        <a href="#">Favorite</a>
        <a href="https://www.linkedin.com/in/dava-attabrani-b584b0267">About Us</a>
      </div>
    </div>

    <div class="jumbotron">
    </div>

  </header>


  <main>
    <h2 class="title">Explore Restaurant</h2>
  
    <div class="container">

      <div class="card">
        <div class="city" id="city"></div>
        <figure>
          <img src="../public/images/heros/hero-image_4.jpg" id="pictureId" alt="gambar">
        </figure>
        <div class="cardBody">
          <h3>Rating <span id="rating"></span></h3>
          <h2 id="name"></h2>
          <p id="description"></p>
        </div>
      </div>

    </div>
  </main>
  
  <footer>
    <p>copyright &copy; 2023 - ENJOY CAFE</p>
  </footer>
</body>
</html>
